services: # service = redis, event_publisher, worker, test
  redis:
    image: redis:7
    ports:
      - "6380:6379"

  event_publisher:
    build:
      context: . # root(this folder)
      dockerfile: dockerfile.test
    command: ["python", "event_publisher.py"]
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://redis:6379/0
      DATABASE_URL: sqlite+aiosqlite:///./reainmind_test.db
    volumes:
      - testdb:/data
      
  worker:
    build:
      context: .
      dockerfile: dockerfile.test
    command: ["python", "worker.py"]
    depends_on:
      - redis
    environment:
      REDIS_URL: redis://redis:6379/0

  test:
    build:
      context:
      dockerfile: dockerfile.test
    command: ["pytest", "-q"]
    depends_on:
      - redis
      - event_publisher
      - worker
    environment:
      REDIS_URL: redis://redis:6379/0
      DATABASE_URL: sqlite+aiosqlite:///./reainmind_test.db
    volumes:
      - testdb:/data

volumes:
  testdb: